<h1>No more spaghetti codes.</h1>
<div class="menu_list">
  <% @menus.each do |menu| %>
    <div><%= menu.name %></div>
    <div><%= menu.pasta_name %></div>
    <div><%= image_tag menu.image.variant(resize: '100x100') %></div>
  <% end %>
</div>