<%= render "shared/header" %>

<div class="main">
  <div class="main-back-image">
    <div class="catch-copy">No more spaghetti codes.</div>
    <div class="introduction">
      <div class="introduction-text">Rigate(リガーテ)は、美しく読みやすいコードを書くコツを、自分の手を動かしながら習得できるWebアプリケーションです。<br><br>
      スパゲティコードを抜け出して、ペンネやファルファッレのようなショートパスタなコードを目指しましょう！</div>

      <%= link_to new_user_registration_path do %>
        <div class="start-button">
          <div class="start-button-text">はじめる</div>
        </div>
      <% end %>
    </div>
  </div>
</div>

<%= render "shared/footer" %>