<%= render "shared/header" %>
<p>No more spaghetti codes.</p>

<div>Rigate(リガーテ)は、美しく読みやすいコードを書くコツを、自分の手を動かしながら習得できるWebアプリケーションです。<br>
スパゲティコードを抜け出して、ペンネやファルファッレのようなショートパスタなコードを目指しましょう！</div>

<%= link_to 'はじめる', new_user_session_path %>

<%= render "shared/footer" %>