// Place all the styles related to the curriculums controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.curriculum-button-mini {
  background-image: image-url('button_image.jpg');
  background-size: cover;
}

.next-button {
  background-image: image-url('pink_button_image.png');
  background-size: cover;
}

.start-button {
  background-image: image-url('pink_button_image.png');
  background-size: cover;
}

.login-button {
  background-image: image-url('pink_button_image.png');
  background-size: cover;
}
