html {
  font-family: 'M PLUS 1p';
}

body{
	margin: 0;
}

a {
  color: #4c4c4c;
  text-decoration:none; 
}

.header {
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
}

.logo-image {
  height: 36px;
  padding: 12px;
}

.lists-right {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.main {
  width: 100vw;
  height: calc(100vh - 60px - 40px);
  display: flex;
  align-items: center;
  position: relative;
}

.main-long {
  width: 100vw;
  height: calc(150vh - 60px - 40px);
  display: flex;
  align-items: center;
  position: relative;
}

.new-link {
  position: absolute;
  right: 20px;
  top: 5px;
}

.main-back-image {
  height: calc(100% - 50px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.catch-copy {
  margin: 20px;
  font-family: 'Montserrat';
  font-size: 25px;
  color: white;
  position: absolute;
  left: 10px;
  top: 10px;
}

.menu-list {
  margin: 0 auto 0;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.menu-tile {
  margin: 10px;
  width: 400px;
  height: 150px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
  position: relative;
}

.menu-name {
  font-size: 20px;
  padding: 12px 20px;
  width: 300px;
  height: 30px;
  line-height: 30px;
  color: #4c4c4c;
  position: absolute;
  left: 5px;
  top: 5px;
}

.menu-pasta-name {
  font-family: 'Monoton';
  font-size: 25px;
  color: #006e00;
  position: absolute;
  right: 20px;
  bottom: 10px;
}

.menu-pasta-name-content {
  font-family: 'Monoton';
  font-size: 25px;
  color: #006e00;
  position: absolute;
  right: 30px;
  top: 15px;
}

.menu-pasta-image {
  position: absolute;
  left: 30px;
  bottom: 5px;
}

.menu-pasta-image-top {
  position: absolute;
  right: 30px;
  top: 10px;
}

.menu-pasta-image-top-content {
  position: absolute;
  right: 30px;
  top: 70px;
}

.curriculum-board {
  height: 400px;
  width: 750px;
  border-radius: 20px;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
}

.curriculum-list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.curriculum-button {
  height: 65px;
  width: 360px;
  border-radius: 20px;
  margin: 15px;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
  text-align: center;
}

.curriculum-button-mini {
  height: 40px;
  width: 240px;
  border-radius: 12px;
  margin-bottom: 25px;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
  text-align: center;
  position: absolute;
  top: 15px;
  left: calc(50vw - 160px);
}

.curriculum-name {
  margin: 0 auto;
  line-height: 65px;
  color: white;
  font-size: 20px;
}

.curriculum-name-mini {
  margin: 0 auto;
  line-height: 40px;
  color: white;
  font-size: 18px;
}

.content-board {
  margin-top: 60px;
  height: 450px;
  width: 1200px;
  border-radius: 20px;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
}

.content-each-board {
  height: 350px;
  width: 720px;
  margin-top: 50px;
  background-color: #f9f9f9;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
}

.contents-list {
}

.content-title {
}

.content-text {
}

.exam-board {
  margin-top: 60px;
  height: calc(150vh - 60px - 40px - 180px);
  width: 1200px;
  border-radius: 20px;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
}

.exam-response-board {
  margin-top: 60px;
  height: calc(150vh - 60px - 40px - 180px);
  width: 1200px;
  border-radius: 20px;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  flex-direction: column;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
}

.exam {
  display: flex;
  justify-content: center;
}

.exam-response {
  display: flex;
  justify-content: center;
  margin-top: 110px;
}

.exam-explanation-title {
  font-size: 20px;
  margin: 50px 0 10px;
  width: 750px;
}

.exam-explanation {
  font-size: 20px;
  width: 750px;
  height: 180px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4) inset;
}

.code-block-outer {
  height: 380px;
  width: 360px;
  margin: 0 40px 0;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
  background-color: #eee;
  border-radius: 2px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.code-block {
  height: 300px;
  width: 300px;
  margin-top: 20px;
  background-color: #272822;
  padding: 1px 14px 1px;
  border-radius: 5px;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4) inset;
}

.code-block-title {
  width: 300px;
  margin-top: 10px;
}

.code-block-title-red {
  width: 300px;
  margin-top: 10px;
  color: #CB262C;
}

.next-button {
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
  height: 35px;
  width: 100px;
  position: absolute;
  bottom: 20px;
  right: 30px;
  border-radius: 20px;
  text-align: center;
}

.next-button-text {
  color: white;
  font-size: 18px;
  font-family: 'Montserrat';
  line-height: 35px;
}

.submit-button {
  cursor: pointer;
}

.score {
  position: absolute;
  bottom: 90px;
  right: 30px;
}

.score-text {
  margin: 10px;
}

.score-field {
  height: 30px;
  width: 70px;
  border-radius: 20px;
  text-align: center;
  border: none;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
  font-size: 16px;
  font-family: 'Montserrat';
}

.footer {
  height: 40px;
  width: 100vw;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
  text-align: center;
  line-height: 40px;
}

.copy-right {
  font-size: 12px;
  color: gray;
}

.hidden {
  display: none;
}
