html {
  font-family: 'M PLUS 1p';
}

body{
	margin: 0;
}

a {
  color: #4c4c4c;
  text-decoration:none; 
}

*:focus {
outline: none;
}

.header {
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
}

.logo-image {
  height: 36px;
  padding: 12px;
}

.lists-right {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.h2-title {
  color: white;
  text-align: center;
}

.sign-in-up {
  color: white;
  margin-top: 30px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.field {
  margin: 10px;
}

.shared-links {
  margin-top: 10px;
  font-size: 16px;
}

.email-field {
  height: 40px;
  width: 300px;
  border-radius: 20px;
  padding: 0 10px 0;
  border: none;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.4) inset;
  text-align: center;
  font-family: 'Montserrat';
}

.password-field {
  height: 40px;
  width: 300px;
  border-radius: 20px;
  padding: 0 10px 0;
  border: none;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.4) inset;
  text-align: center;
}

.remember-me {
  border: none;
}

.main {
  width: 100vw;
  height: calc(100vh - 60px - 40px);
  display: flex;
  align-items: center;
  position: relative;
}

.new-link-list {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 20px;
  top: 2px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.new-link {
  margin: 0 10px 0;
}

.back-image {
  height: calc(100% - 50px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: image-url('back_image.jpg');
  background-size: cover;
}

.catch-copy {
  margin: 20px;
  font-family: 'Montserrat';
  font-size: 25px;
  color: white;
  position: absolute;
  left: 10px;
  top: 10px;
}

.login-button {
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
  height: 50px;
  width: 150px;
  border-radius: 20px;
  text-align: center;
  background-image: image-url('pink_button_image.png');
  background-size: cover;
}

.login-button-block {
  height: 60px;
  width: 160px;
  margin: 30px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button-text {
  color: white;
  font-size: 18px;
  line-height:  50px;
}

.error-messages {
  text-align: center;
  list-style: none;
  color: #CB262C;
}

.footer {
  height: 40px;
  width: 100vw;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
  text-align: center;
  line-height: 40px;
}

.copy-right {
  font-size: 12px;
  color: gray;
}

.hidden {
  display: none;
}
