html {
  font-family: 'M PLUS 1p';
}

body{
	margin: 0;
}

a {
  color: #4c4c4c;
  text-decoration:none; 
}

*:focus {
outline: none;
}

.header {
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
}

.logo-image {
  height: 36px;
  padding: 12px;
}

.lists-right {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.main {
  width: 100vw;
  height: calc(100vh - 60px - 40px);
  display: flex;
  align-items: center;
  position: relative;
}

.main-long {
  width: 100vw;
  height: calc(150vh - 60px - 40px);
  display: flex;
  align-items: center;
  position: relative;
}

.main-very-long {
  width: 100vw;
  height: calc(180vh - 60px - 40px);
  display: flex;
  align-items: center;
  position: relative;
}

.new-link-list {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 20px;
  top: 2px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.new-link {
  margin: 0 10px 0;
}

.main-back-image {
  height: calc(100% - 50px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.catch-copy {
  margin: 20px;
  font-family: 'Montserrat';
  font-size: 25px;
  color: white;
  position: absolute;
  left: 10px;
  top: 10px;
}

.error-messages {
  text-align: center;
  list-style: none;
  color: #CB262C;
}

.footer {
  height: 40px;
  width: 100vw;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
  text-align: center;
  line-height: 40px;
}

.copy-right {
  font-size: 12px;
  color: gray;
}

.hidden {
  display: none;
}
