html {
  font-family: 'M PLUS 1p';
}

body{
	margin: 0;
}

a {
  color: #4c4c4c;
  text-decoration:none; 
}

*:focus {
outline: none;
}

.header {
  height: 60px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
}

.logo-image {
  height: 36px;
  padding: 12px;
}

.lists-right {
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.h2-title {
  color: white;
  text-align: center;
}

.sign-in-up {
  color: white;
  margin-top: 30px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.field {
  margin: 10px;
}

.shared-links {
  margin-top: 10px;
  font-size: 16px;
}

.email-field {
  height: 40px;
  width: 300px;
  border-radius: 20px;
  padding: 0 10px 0;
  border: none;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.4) inset;
  text-align: center;
  font-family: 'Montserrat';
}

.password-field {
  height: 40px;
  width: 300px;
  border-radius: 20px;
  padding: 0 10px 0;
  border: none;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.4) inset;
  text-align: center;
}

.remember-me {
  border: none;
}

.main {
  width: 100vw;
  height: calc(100vh - 60px - 40px);
  display: flex;
  align-items: center;
  position: relative;
}

.main-long {
  width: 100vw;
  height: calc(150vh - 60px - 40px);
  display: flex;
  align-items: center;
  position: relative;
}

.main-very-long {
  width: 100vw;
  height: calc(180vh - 60px - 40px);
  display: flex;
  align-items: center;
  position: relative;
}

.new-link-list {
  margin: 0;
  padding: 0;
  position: absolute;
  right: 20px;
  top: 2px;
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.new-link {
  margin: 0 10px 0;
}

.back-image {
  height: calc(100% - 50px);
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: image-url('back_image.jpg');
  background-size: cover;
}

.catch-copy {
  margin: 20px;
  font-family: 'Montserrat';
  font-size: 25px;
  color: white;
  position: absolute;
  left: 10px;
  top: 10px;
}

.exam-board {
  margin-top: 60px;
  height: calc(180vh - 60px - 40px - 180px);
  width: 1200px;
  border-radius: 20px;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
}

.exam-response-board {
  margin-top: 60px;
  height: calc(150vh - 60px - 40px - 180px);
  width: 1200px;
  border-radius: 20px;
  background-color: white;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
}

.exam {
  margin-bottom: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.exam-question {
  text-align: center;
  margin-bottom: 15px;
}

.exam-form {
  display: flex;
  justify-content: center;
}

.exam-response {
  display: flex;
  justify-content: center;
  margin-top: 110px;
}

.exam-explanation-title {
  font-size: 16px;
  margin: 45px 0 10px;
  width: 750px;
}

.exam-explanation {
  font-size: 16px;
  width: 730px;
  height: 180px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
  background-color: #f9f9f9;
}

.user-answer-code {
  height: 260px;
  width: 280px;
  margin-top: 15px;
  border: none;
  resize: none;
  overflow: scroll;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.4) inset;
}

.code-block-outer {
  height: 360px;
  width: 340px;
  margin: 0 40px 0;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
  background-color: #eee;
  border-radius: 2px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.code-block {
  height: 300px;
  width: 300px;
  margin-top: 15px;
  background-color: #23241F;
  padding: 1px 14px 1px;
  border-radius: 5px;
  overflow: scroll;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4) inset;
}

.code-block-title {
  width: 300px;
  margin-top: 10px;
}

.code-block-title-red {
  width: 300px;
  margin-top: 10px;
  color: #CB262C;
}

.login-button {
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
  height: 50px;
  width: 150px;
  border-radius: 20px;
  text-align: center;
  background-image: image-url('pink_button_image.png');
  background-size: cover;
}

.login-button-block {
  height: 60px;
  width: 160px;
  margin: 30px auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button-text {
  color: white;
  font-size: 18px;
  line-height:  50px;
}

.submit-button {
  cursor: pointer;
}

.score {
  position: absolute;
  bottom: 90px;
  right: 30px;
}

.score-text {
  margin: 10px;
}

.score-field {
  height: 30px;
  width: 70px;
  border-radius: 20px;
  text-align: center;
  border: none;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.4) inset;
  font-size: 16px;
  font-family: 'Montserrat';
}

.error-messages {
  text-align: center;
  list-style: none;
  color: #CB262C;
}

.footer {
  height: 40px;
  width: 100vw;
  box-shadow: 0 0 7px 0 rgba(0,0,0,0.4);
  text-align: center;
  line-height: 40px;
}

.copy-right {
  font-size: 12px;
  color: gray;
}

.hidden {
  display: none;
}
